# Global configuration variables go here. You will want to tweak this
# file to suit your needs. If you want to keep local changes that are
# not overwritten by repository updates, those can be written
# to local.cfg instead (entries there will override those in this file).

# Meta-project to build
PROJECT=DTM++.toolbox
CLEAN_BUILD=false

COMPILER=native-openmpi
#COMPILERBASE=gcc-4.9.0
#COMPILERBASE=llvm
#COMPILERMPI=openmpi-1.6.5
#COMPILERMPI=mpich-3.0.4
#COMPILER=${COMPILERBASE}-${COMPILERMPI}

# How many processes would you like to build using?
PROCS=1

# Prefix directory
PREFIX_PATH=~/apps/candi

# Where do you want the downloaded source files to go?
DOWNLOAD_PATH=${PREFIX_PATH}/src

# Where do you want to unpack source files to go?
UNPACK_PATH=${PREFIX_PATH}/unpack

# Where do you want the build files to go?
BUILD_PATH=${PREFIX_PATH}/${PROJECT}/${COMPILER}-build

# Where do you want the compiled software installed?
INSTALL_PATH=${PREFIX_PATH}/${PROJECT}/${COMPILER}

# Would you like to build stable versions of projects?
# If STABLE_BUILD=false, then the development version of deal.II will be
# installed.
STABLE_BUILD=true
#STABLE_BUILD=false
