name: CI

on: [push, pull_request]

concurrency:
  group: ${{ github.event_name }}-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{github.event_name == 'pull_request'}}

jobs:
  ubuntu24-blas:
    name: ubuntu 24.04
    runs-on: [ubuntu-24.04]

    steps:
      - uses: actions/checkout@v3
      - name: setup
        run: |
          sudo apt-get install gfortran libopenmpi-dev openmpi-common openmpi-bin
      - name: info
        run: |
          g++ -v
          mpic++ -v
          cmake --version
      - name: build
        run: |
          echo 'DEAL_II_CONFOPTS="-D CMAKE_BUILD_TYPE=Debug -D DEAL_II_LINKER_FLAGS=-fuse-ld=bfd"' >> candi.cfg
          ./candi.sh -j 2 --packages="once:openblas once:p4est dealii"
          cd ~/dealii-candi/tmp/build/deal.II-* && cat detailed.log

  ubuntu22:
    name: ubuntu 22.04
    runs-on: [ubuntu-22.04]

    steps:
      - uses: actions/checkout@v3
      - name: setup
        run: |
          sudo apt-get install gfortran libopenmpi-dev openmpi-common openmpi-bin cmake
      - name: info
        run: |
          g++ -v
          mpic++ -v
          cmake --version
      - name: build
        run: |
          ./candi.sh -j 2 --packages="once:openblas once:p4est dealii"
          cd ~/dealii-candi/tmp/build/deal.II-* && cat detailed.log

  osx-minimal:
    name: OSX arm64 clang
    runs-on: [macos-latest]

    steps:
      - uses: actions/checkout@v3
      - name: setup
        run: |
          # force cmake version:
          pip install cmake==3.20.5
          brew install openmpi
          brew reinstall gcc@13
          echo "OMPI_FC=gfortran-13" >> "$GITHUB_ENV"
          echo "OMPI_F77=gfortran-13" >> "$GITHUB_ENV"
      - name: info
        run: |
          mpicxx -v
          mpicc -v
          mpif90 -v
          mpif77 -v
          cmake --version
      - name: build
        run: |
          echo 'DEAL_II_CONFOPTS="-D CMAKE_BUILD_TYPE=Debug"' >> candi.cfg
          ./candi.sh -j 2 --packages="once:boost once:p4est once:petsc dealii"
          cd ~/dealii-candi/tmp/build/deal.II-* && cat detailed.log && ctest --output-on-failure -j 2
